body {
    background-color: rgb(232, 75, 238);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}



h1 {
   word-break: break-word;
}

a {
    font-size: 1rem;
    text-decoration: none;
    color: yellow;
}

a:hover {
    color: rgb(212, 0, 212);
}
a:active {
    color: red;
}




hr {

    width: 100%;
}





.links {
    color: red;
    font-size: 1.5rem;
}

.links:hover {
    color: green;
}

.links:active {
    color: green;
}


.showNot {
    display: none;
}

.navigation {
    width: 100%;
    background-color: green;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    
    

}